# Временные файлы 1С
*.cgr
*.1cv8.cln
*.1Cv8.cnd
*.1Cv8.apl
*.1Cv8.tmp
*.1Cv8.log
*.1Cv8.rom
*.1Cv8.lgp
*.1Cv8.pfl

# Файлы блокировок
*.1Cv8.jcl
*.1Cv8.tlbl

# Папки с логами и временными данными
1Cv8Log/
1Cv8Job/